html {
	height: 100%;
}

body {
	font-family: "Helvetica", sans-serif;
	height: 100%;
	min-height: 100%;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
}

ul li {
	font-size: 0.9em;
}

nav {
	background-color: rgb(12, 79, 12);
	height: 2.4em;
}

nav ul {
	padding: 0.6em 0 0.6em 0;
}

nav li {
	display: inline;
}

nav a {
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 0.6em 1em 0.6em 1em;
	text-align: left;
	text-decoration: none;
}

nav a:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(26, 98, 26);
}

main {
	background: rgb(255, 255, 255);
	padding: 1em 1em 3em 1em;
}

table {
	border: 1px solid rgb(0, 0, 0);
}

table th, table td {
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px solid rgb(0, 0, 0);
}

table thead th {
	font-size: 1.2em;
}

table thead tr:nth-child(odd) {
	background-color: rgb(54, 34, 178);
	color: rgb(255, 255, 255);
}

table thead tr:nth-child(even) {
	background-color: rgb(224, 255, 255);
}

table tbody tr:nth-child(odd) {
	background-color: rgb(255, 255, 255);
}

table tbody tr:nth-child(even) {
	background-color: rgb(238, 238, 238);
}

footer {
	clear: both;
	background: rgb(245, 244, 241);
	bottom: 0;
	height: 3em;
	margin-top: -3em;
	position: relative;
	width: 100%;
}

footer p {
	padding: 1em;
	text-align: right;
}

.elastic {
	min-height: 100%;
}

.conversation {
	clear: both;
	background: rgb(224, 255, 255);
	border-radius: 1em;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
}

.conversation-title {
	font-size: 1.2em;
}

.conversation-actions {
	float: right;
}

.conversation-actions a {
	text-decoration: none;
}

.message {
	clear: both;
	padding: 1em;
}

.message-title {
	float: left;
	width: 20%;
}

.message-text {
	float: right;
	width: 80%;
}